{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Form</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ entity.experience }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ entity.job }}</td>
            </tr>
            <tr>
                <th>Visualizationexperience</th>
                <td>{{ entity.visualizationExperience }}</td>
            </tr>
            <tr>
                <th>Deficiency</th>
                <td>{{ entity.deficiency }}</td>
            </tr>
            <tr>
                <th>Contributed</th>
                <td>{{ entity.contributed }}</td>
            </tr>
            <tr>
                <th>Q1</th>
                <td>{{ entity.q1 }}</td>
            </tr>
            <tr>
                <th>Q1time</th>
                <td>{{ entity.q1Time }}</td>
            </tr>
            <tr>
                <th>Q2</th>
                <td>{{ entity.q2 }}</td>
            </tr>
            <tr>
                <th>Q2time</th>
                <td>{{ entity.q2Time }}</td>
            </tr>
            <tr>
                <th>Q3</th>
                <td>{{ entity.q3 }}</td>
            </tr>
            <tr>
                <th>Q3time</th>
                <td>{{ entity.q3Time }}</td>
            </tr>
            <tr>
                <th>Q4</th>
                <td>{{ entity.q4 }}</td>
            </tr>
            <tr>
                <th>Q4time</th>
                <td>{{ entity.q4Time }}</td>
            </tr>
            <tr>
                <th>Q5</th>
                <td>{{ entity.q5 }}</td>
            </tr>
            <tr>
                <th>Q5time</th>
                <td>{{ entity.q5Time }}</td>
            </tr>
            <tr>
                <th>Q6</th>
                <td>{{ entity.q6 }}</td>
            </tr>
            <tr>
                <th>Q6time</th>
                <td>{{ entity.q6Time }}</td>
            </tr>
            <tr>
                <th>Q7</th>
                <td>{{ entity.q7 }}</td>
            </tr>
            <tr>
                <th>Q7time</th>
                <td>{{ entity.q7Time }}</td>
            </tr>
            <tr>
                <th>Q8</th>
                <td>{{ entity.q8 }}</td>
            </tr>
            <tr>
                <th>Q8time</th>
                <td>{{ entity.q8Time }}</td>
            </tr>
            <tr>
                <th>Q9</th>
                <td>{{ entity.q9 }}</td>
            </tr>
            <tr>
                <th>Q9time</th>
                <td>{{ entity.q9Time }}</td>
            </tr>
            <tr>
                <th>Q10</th>
                <td>{{ entity.q10 }}</td>
            </tr>
            <tr>
                <th>Q10time</th>
                <td>{{ entity.q10Time }}</td>
            </tr>
            <tr>
                <th>Q11</th>
                <td>{{ entity.q11 }}</td>
            </tr>
            <tr>
                <th>Q11time</th>
                <td>{{ entity.q11Time }}</td>
            </tr>
            <tr>
                <th>Q12</th>
                <td>{{ entity.q12 }}</td>
            </tr>
            <tr>
                <th>Q12time</th>
                <td>{{ entity.q12Time }}</td>
            </tr>
            <tr>
                <th>Q13</th>
                <td>{{ entity.q13 }}</td>
            </tr>
            <tr>
                <th>Q13time</th>
                <td>{{ entity.q13Time }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('form') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('form_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
